.gioithieu{
    width: 90%;
    margin: auto;
    height: 1400px;
}
.noi{
    padding-top: 50px;
    text-align: center;
    height: 300px;
    background-color: aqua;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    line-height: 50px;
}
.video{
    background-color: rosybrown;
    width: 40%;
    float: left;
    position: relative;
}
video{
    position: absolute;
    width: 90%;
    top: 70px;
}
.bang{
    text-align: center;
    width: 60%;
    float: right;
    background-color: blueviolet;
    position: relative;
}
.bang>h2{
    position: absolute;
    top: 20px;
    right: 150px;
}
.bang> table{
    width: 90%;
    height: 1000px;
    line-height: 20px;
    list-style: circle;
    font-weight: 500;
    margin-right: 10px;
    background-color: bisque;
    position: absolute;
    right: 20px;
    top: 70px;
}
