.lienhe{
    background-color: antiquewhite;
    width: 80%;
    height: 1200px;
    margin: auto;
    
}
.loinoidau{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: antiquewhite;
    height: 200px;
    line-height: 50px;
    font-size: 25px;
    padding-top: 40px;
}
.map>h3{
    text-align: center;
    padding-top: 100px;
    font-size: 30px;
    color: brown;
}
iframe{
    width: 100%;
    height: 800px;
    padding-top: 100px;
}